# Node.js
node_modules/
npm-debug.log
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/
.cache/
.out/

# Firebase
.firebaserc
firebase-debug.log
firestore-debug.log

# VSCode
.vscode/

# Environment files
.env
.env.local
.env.*.local
